# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Virtual Environment
venv/
env/
.venv/

# Environment variables
.env

# Django
media/
staticfiles/

# IDE / OS
.vscode/
.idea/
.DS_Store

# Python version
.python-version
